<table class='table'>
  <thead>
    <tr>
      <th>Created</th>
      <th>Repo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% pull_requests.each do |pull_request| %>
      <tr>
        <td><%= pull_request.created_at %></td>
        <td><%= link_to "#{pull_request.repository.name}##{pull_request.number}", pull_request.html_url %></td>
        <td><%= link_to 'Show', pull_request %></td>
        <td><%= link_to 'Edit', edit_pull_request_path(pull_request) %></td>
        <td><%= link_to 'Destroy', pull_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
