<% if @pull_request.body %>
<p><%= @pull_request.body %></p>
<hr>
<% end %>

<h4>You can view, comment on, or merge this pull request online at:</h4>
<p>&nbsp;&nbsp;<%= link_to @pull_request.html_url, @pull_request.html_url %></p>

<p>You were notified of this pull request because of the following changes:</p>

<ul>
  <% @stewards_file_map.each do |stewards_file_path, steward_change_views| %>
    <% steward_change_views.each do |steward_change_view| %>
  <li>
    <p>Changes monitored by <%= steward_change_view.stewards_file %>:</p>
    <ul>
      <% steward_change_view.changes.each do |change| %>
        <li><strong><%= change.status_initial %></strong> <%= change.file %> (<%= change.changes_count %>)</li>
      <% end %>
    </ul>
  </li>
    <% end %>
  <% end %>
</ul>

<small>
  <p>You received this email from Ladle for account <%= @user.github_username %>. <%= link_to "Update your notification settings.", edit_user_settings_url %></p>
  Sent at <%= Time.now.to_s %>. Don't reply to this email. That would be silly.
</small>

