<% if @pull_request.description %>
<p><%= @pull_request.description %></p>
<hr>
<% end %>

<h4>You can view, comment on, or merge this pull request online at:</h4>
<p>&nbsp;&nbsp;<%= link_to @pull_request.html_url, @pull_request.html_url %></p>

<p>You were notified of this pull request because you are registered as a steward in these files:</p>

<ul>
<% @stewards_files.each do |file| %>
  <li><%= file %></li>
  <% end %>
</ul>

<small>
  <p>You received this email from Ladle for account <%= @user.github_username %>. <%= link_to "Update your notification settings.", edit_user_settings_url %></p>
  Sent at <%= Time.now.to_s %>. Don't reply to this email. That would be silly.
</small>

